$mainFont : 'Poppins',
sans-serif;
$fontThin: 100;
$fontMed: 500;
$fontBold: 700;
$richBlack: #0B131E;
$gunmetal: #202C3C;
$dogerBlue: #0294fb;
$schoolBusYellow: #FBDE13;
$platinum: #DFE3E6;
$slateGray:#69717E;
$antiFlashWhite:#EEEEEE;