@import "./resets";
@import "./variables";

#app {
    color: $platinum;
    background-color: $richBlack;
    background: rgb(0, 0, 0);
    background: linear-gradient(58deg, rgba(0, 0, 0, 1) 2%, rgba(11, 19, 30, 1) 94%);
    font-family: $mainFont;
    font-weight: $fontThin;
    font-style: italic;
    min-height: 100%;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    #alert {
        position: absolute;
        padding: 1.5rem;
        left: 1rem;
        bottom: 2rem;
        width: 14rem;
        height: 5rem;
        background-color: $dogerBlue;
        border-radius: 1rem;
        font-family: $mainFont;
        color: $richBlack;
        font-size: 1.3rem;
        font-weight: bolder;
        text-align: center;
        transform: translateX(-120%);
        transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    }

    #alert.show {
        transform: translateX(0%);
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $richBlack;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $gunmetal;
}

.main {
    grid-area: 1 / 1 / 5 / 2;
    height: 100%;
    margin-bottom: 1rem;
    margin-left: 1rem;

    .search-bar__container {
        width: 100%;
        display: flex;
        font-weight: 100;

        .list-container {
            position: absolute;
            max-height: 67.5%;
            width: 62.55%;
            background-color: $gunmetal;
            margin-top: 4.2rem;
            border-radius: 1.5rem;
            display: none;
            box-shadow: 0px 0px 9px -1px $dogerBlue;

            .suggestion {
                list-style: none;
                font-family: inherit;
                font-weight: 700;
                width: 100%;
                padding: 1.385rem 2rem;
                cursor: pointer;

                &:hover {
                    background-color: #022e4e;
                }

                &:first-child {
                    border-top-left-radius: 1.5rem;
                    border-top-right-radius: 1.5rem;
                }

                &:last-child {
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }

                &:active {
                    box-shadow: inset 0px 0px 29px -7px #022e4e;
                }
            }
        }

        #search-button {
            margin-top: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            width: 5rem;
            border: none;
            outline: none;
            background-color: $dogerBlue;
            font-family: $mainFont;
            color: $platinum;
            font-weight: 900;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 0px 29px -7px rgb(2, 101, 134);
            }

            &:active {
                box-shadow: inset 0px 0px 29px -7px #022e4e;
            }
        }

        .search-bar {
            width: 100%;
            height: 3rem;
            padding: 1rem;
            margin-top: 1rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border: none;
            background-color: $gunmetal;
            font-family: $mainFont;
            font-weight: 500;
            font-style: italic;
            color: $platinum;
            font-size: 1rem;
            transition: box-shadow 0.5s;

            &:focus {
                outline: none;
            }

            &.alert {
                box-shadow: inset 0px 0px 25px -3px rgb(234, 8, 8);
            }
        }
    }

    .main-header {
        margin: 1.5rem 2rem 0.5rem 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .city-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 13rem;

            #city-name {
                font-size: 3rem;
                font-weight: 900;
                font-style: normal;
                transition: opacity 0.5s ease;
            }

            #humidity {
                color: $slateGray;
                font-weight: 600;
                transition: opacity 0.5s ease;
            }

            .city-degree {
                font-size: 3.5rem;
                font-weight: 500;
                transition: opacity 0.5s ease;
            }
        }

        .weather-icon {
            margin: 2rem 2rem 1rem 2rem;
            height: 4rem;

            .icon {
                // transform: scale(4);
                margin-top: -5rem;
                transition: opacity 0.5s ease;
            }
        }
    }

    .forecast {
        background-color: $gunmetal;
        height: fit-content;
        border-radius: 1.5rem;

        .forecast-header {
            font-weight: 700;
            font-style: normal;
            padding-left: 2rem;
            padding-top: 1rem;
        }

        .items-container {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .forecast--hr {
                height: 5rem;
                border: 1px solid $slateGray;
            }

            .item {
                padding: 0 2rem;
                margin-bottom: 1rem;
                .item-head {
                    width: calc(100% + 2rem);
                    font-weight: 500;
                }
                .item-icon {
                    margin: 0rem auto;
                    transition: opacity 0.5s ease;
                }

                .hourly-icon {
                    max-height: 70px;
                    max-width: 70px;
                }

                .item-degree {
                    font-weight: 500;
                    text-align: center;
                    transition: opacity 0.5s ease;
                }
            }
        }
    }

    .air-conditions {
        background-color: $gunmetal;
        padding: 1.49rem 0;
        height: fit-content;
        border-radius: 1.5rem;
        margin-top: 1rem;

        h3 {
            padding-left: 2rem;
            padding-top: 1rem;
        }

        .items {
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            div {
                width: 10rem;
                margin-bottom: 0.5rem;
            }

            .info {
                font-weight: bolder;
                font-size: 2rem;
                transition: opacity 0.5s ease;
            }

            .item__header {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

.aside {
    max-height: 100%;
    margin-bottom: 1rem;
    grid-area: 1 / 2 / 5 / 3;
    background-color: $gunmetal;
    height: calc(100vh - 2rem);
    border-radius: 1.5rem;
    margin: 1rem;
    overflow: hidden;

    &--icon {
        transition: opacity 0.5s ease;
    }

    .degree {
        transition: opacity 0.5s ease;
    }

    &__header {
        padding-top: 1rem;
        padding-left: 2rem;
    }

    &--container {
        display: flex;
        flex-direction: column;

        hr.aside--hr {
            width: 80%;
            border: 1px solid $slateGray;
            margin: 0 auto;
        }
    }

    &--item {
        height: 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .day {
            width: 5rem;
            transition: opacity 0.5s ease;
        }
    }
}

@media screen and (max-width: 1400px) {
    #app {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .main {
        grid-area: 1 / 1 / 5 / 3;
        margin-left: 1rem;
        margin-right: 1rem;
        .items {
            margin-left: 2rem;
        }
        .list-container {
            max-height: 67.5%;
            width: 93% !important;
        }
        .item-head {
            font-size: 0.7rem;
        }
        .item-degree {
            font-size: 0.7rem;
        }
        .item__header p {
            font-size: 0.8rem;
        }
        .forecast {
            height: fit-content;
        }
    }

    .aside {
        grid-area: 1 / 3 / 5 / 5;
    }
}

@media screen and (max-width: 1280px) {
    #app {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .main {
        grid-area: 1 / 1 / 3 / 5;
        margin-right: 1rem;
        .list-container {
            // height: 81.5%;
            // width: 94%;
            width: 100%;
        }
        .city-degree {
            font-size: 2.6rem !important;
        }
        .main-header {
            margin: 0.8rem;
            .weather-icon {
                .icon {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
        .forecast {
            height: fit-content;
            .items-container {
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
        .air-conditions {
            min-height: 15rem;
            .items {
                flex-wrap: wrap;
            }
        }
    }

    .aside {
        grid-area: 3 / 1 / 5 / 5;
        height: 100vh;
    }
}
