@import './resets';
@import './variables';


#app {
    color: $platinum;
    background-color: $richBlack;
    background: rgb(0, 0, 0);
    background: linear-gradient(58deg, rgba(0, 0, 0, 1) 2%, rgba(11, 19, 30, 1) 94%);
    font-family: $mainFont;
    height: 100%;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    #alert {
        // display: none;
        position: absolute;
        padding: 1.5rem;
        left: 1rem;
        bottom: 2rem;
        width: 14rem;
        height: 5rem;
        background-color: $dogerBlue;
        border-radius: 1rem;
        font-family: $mainFont;
        color: $richBlack;
        font-size: 1.5rem;
        font-weight: bolder;
        text-align: center;
        transform: translateX(-120%);
        // opacity: 0;
        // visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s, transform 0.5s ;
    }

    #alert.show{
        transform: translateX(0%);
    }
}

body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $richBlack;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $gunmetal;
}

.main {
    grid-area: 1 / 1 / 5 / 2;
    height: 100%;
    margin-left: 1rem;

    .search-bar__container {
        width: 100%;
        display: flex;

        .list-container {
            position: absolute;
            height: 67.5%;
            width: 48.8%;
            background-color: $gunmetal;
            margin-top: 4.2rem;
            border-radius: 1rem;
            display: none;
            // transition: all 300ms;
        }

        #search-button {
            margin-top: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            width: 5rem;
            border: none;
            outline: none;
            background-color: $dogerBlue;
            font-family: $mainFont;
            color: $platinum;
            font-weight: 900;

            &:hover {
                box-shadow: 0px 0px 29px -7px rgb(2, 101, 134);
            }

            &:active {
                box-shadow: inset 0px 0px 29px -7px #022e4e;
            }
        }

        .search-bar {
            width: 100%;
            height: 3rem;
            padding: 1rem;
            margin-top: 1rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border: none;
            background-color: $gunmetal;
            font-family: $mainFont;
            color: $platinum;
            font-size: 1rem;
            font-weight: 900;
            transition: box-shadow 0.5s;

            &:focus {
                outline: none;
            }

            &.alert{
                box-shadow: inset 0px 0px 25px -3px rgb(234, 8, 8);
            }
        }
    }



    .main-header {
        margin: 1.5rem 2rem 1rem 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .city-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 13rem;

            #city-name {
                font-size: 3rem;
                font-weight: 900;
                transition: opacity 0.5s ease;
            }

            #humidity {
                color: $slateGray;
                font-weight: 600;
                transition: opacity 0.5s ease;
            }

            .city-degree {
                font-size: 3.5rem;
                transition: opacity 0.5s ease;
            }
        }

        .weather-icon {
            margin: 2rem 2rem 1rem 2rem;
            height: 4rem;

            .icon {
                // transform: scale(4);
                margin-top: -5rem;
                transition: opacity 0.5s ease;
            }
        }
    }

    .forecast {
        background-color: $gunmetal;
        height: 15rem;
        border-radius: 1.5rem;

        .forecast-header {
            padding-left: 1rem;
            padding-top: 1rem;
        }

        .items-container {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .forecast--hr {
                height: 5rem;
                border: 1px solid $slateGray;
            }

            .item {
                padding: 0 2rem;

                // border-right: 1px solid $slateGray;
                .item-icon {
                    margin: 0.5rem auto;
                    transition: opacity 0.5s ease;
                }

                .item-degree {
                    text-align: center;
                    transition: opacity 0.5s ease;
                }
            }
        }
    }

    .air-conditions {
        background-color: $gunmetal;
        height: 11rem;
        border-radius: 1.5rem;
        margin-top: 1rem;

        h3 {
            padding-left: 1rem;
            padding-top: 1rem;
        }

        .items {
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            div {
                width: 10rem;
            }

            .info {
                font-weight: bolder;
                font-size: 2rem;
                transition: opacity 0.5s ease;
            }

            .item__header {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

.aside {
    grid-area: 1 / 2 / 5 / 3;
    background-color: $gunmetal;
    border-radius: 1.5rem;
    margin: 1rem;

    &--icon {
        transition: opacity 0.5s ease;
    }

    .degree {
        transition: opacity 0.5s ease;
    }

    &__header {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    &--container {
        display: flex;
        flex-direction: column;

        hr.aside--hr {
            width: 80%;
            border: 1px solid $slateGray;
            margin: 0 auto;
        }
    }

    &--item {
        height: 6.02rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .day {
            width: 5rem;
            transition: opacity 0.5s ease;
        }
    }
}

@media (max-width: 1400px) {
    #app {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .main {
        grid-area: 1 / 1 / 5 / 3;
        margin-left: 1rem;

        .items {
            margin-left: 2rem;
        }

        .item-head {
            font-size: 0.7rem;
        }

        .item-degree {
            font-size: 0.7rem;
        }

        .item__header p {
            font-size: 0.8rem;
        }
    }

    .aside {
        grid-area: 1 / 3 / 5 / 5;
    }
}

@media (max-width: 1280px) {
    #app {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .main {
        grid-area: 1 / 1 / 3 / 5;
        margin-right: 1rem;

        .city-degree {
            font-size: 2.6rem !important;
        }

        .main-header {
            margin: 0.8rem;

            .weather-icon {

                .icon {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }

        .forecast {
            height: 19rem;

            .items-container {
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }

        .air-conditions {
            min-height: 15rem;

            .items {
                flex-wrap: wrap;
            }
        }
    }

    .aside {
        grid-area: 3 / 1 / 5 / 5;
    }
}

// 1. CLEAR:
//    - Background Color: #68B8E0
//    - Text Color: #FFFFFF
//    - Gradient: linear-gradient(135deg, #68B8E0, #42A1DB)

// 2. CLOUDY:
//    - Background Color: #D0D0D0
//    - Text Color: #333333
//    - Gradient: linear-gradient(135deg, #D0D0D0, #A0A0A0)

// 3. FOG:
//    - Background Color: #C8C8C8
//    - Text Color: #444444
//    - Gradient: linear-gradient(135deg, #C8C8C8, #A8A8A8)

// 4. DRIZZLE:
//    - Background Color: #A6B6D0
//    - Text Color: #FFFFFF
//    - Gradient: linear-gradient(135deg, #A6B6D0, #8A9CBF)

// 5. RAIN:
//    - Background Color: #6A92B0
//    - Text Color: #FFFFFF
//    - Gradient: linear-gradient(135deg, #6A92B0, #54789A)

// 6. SNOW:
//    - Background Color: #F2F2F2
//    - Text Color: #333333
//    - Gradient: linear-gradient(135deg, #F2F2F2, #D8D8D8)

// 7. THUNDER:
//    - Background Color: #52575D
//    - Text Color: #FFFFFF
//    - Gradient: linear-gradient(135deg, #52575D, #33393F)

// 8. THUNDERSTORMS:
//    - Background Color: #404040
//    - Text Color: #FFFFFF
//    - Gradient: linear-gradient(135deg, #404040, #303030)
